.layout-admin {
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  grid-template-columns: 280px calc(100% - 310px);
  grid-template-rows: 110px 1fr;
  overflow: hidden;
  gap: 0 30px;
}

nav {
  grid-area: a;
}

.header {
  grid-area: b;
}

.main {
  grid-area: c;
}

@media screen and (max-width: 767.98px) {
  .layout-admin {
    grid-template-areas:
      "b"
      "c";
    grid-template-columns: 100%;
    grid-template-rows: 61px 1fr;
  }
  .header {
    left: 0;
  }
}
